<h1>Listing visits</h1>
 
<table>
  <tr>
    <th>Visit</th>
  </tr>
 
  <% @visits.each do |visit| %>
    <tr>
      <td><%= visit.name %></td>
      <td><%= visit.time %></td>
      <td><%= link_to 'Destroy', visit_path(visit), method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>